.navbar-container {
    padding: 10px;
}

.display-button {
    width: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #FEFFFE;
    border: 2px solid #919299;
    color: #919299;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
}

.button-text {
    color: black;
}

.main-board {
    background-color: #f4f5f8;
    min-height: 100vh;
    margin-top: 0px;
    padding: 30px;
    padding-top: 10px;
}

.dashboard-headings{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tasks-list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task-column{
    margin: 10px;
    display:inline-block;
    width: max-content;
    flex: 1;
}